.menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  .group-section {
    width: 20%;
    height: 100vh;
    // background-color: blueviolet;
    border-radius: 10px;
    border: 3px solid #dddddd;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2%;
    .group {
      display: flex;
      justify-content: center;
      align-self: center;
      label {
        font-family: "Brush Script MT";
        font-size: 40px;
      }
    }
  }
  .dish-section {
    width: 80%;
    border-radius: 10px;
    border: 3px solid #dddddd;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 40px;
    height: fit-content;
    padding: 24px;
    max-width: 80%;
    transition: max-width 0.5s ease-out;
  }
  .detail-section {
    width: 40%;
    border-radius: 10px;
    border: 3px solid #dddddd;
    padding: 2%;
    overflow: auto;
  }
}

@media only screen and (max-width: 600px) {
  .menu-container {
    flex-direction: column;
    .group-section{
      width: 100%;
      display: flex;
      height: 10vh;
      flex-direction: row;
      overflow: auto;
      gap: 20px;
    }
    .dish-section{
      width: 100%;
      max-width: 100%;
      gap: 20px;
      flex-direction: row;
      padding: 8px;
      gap: 40px;
      justify-content: space-around;
    }
    .detail-section{
      display: none;
    }
  }
}
