<div class="card-container">
    <div class="section">
        <img [src]="'https://www.sushisama.com/img/menu/41.png?v=1.0.4'"/>
        <label class="name">Sushi ?</label>
        <label class="price">0.99 ?</label>
    </div>
    <div class="section detail">

    </div>
    <div class="section line-up">
        <div class="row">
            <div class="column">
                <img [src]="'https://www.sushisama.com/img/menu/41.png?v=1.0.4'"/>
            </div>
            <div class="column price">
                <label class="name">Sushi ?</label>
                <label class="price">0.99 ?</label>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img [src]="'https://www.sushisama.com/img/menu/41.png?v=1.0.4'"/>
            </div>
            <div class="column price">
                <label class="name">Sushi ?</label>
                <label class="price">0.99 ?</label>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img [src]="'https://www.sushisama.com/img/menu/41.png?v=1.0.4'"/>
            </div>
            <div class="column price">
                <label class="name">Sushi ?</label>
                <label class="price">0.99 ?</label>
            </div>
        </div>
    </div>
</div>