<div class="navigator-container">
  <div class="left-side">
    <div class="logo"></div>
  </div>
  <div class="push"></div>
  <div class="menu-mobile" (click)="menuToggle()">
    <div class="menu-boxed"></div>
  </div>
  <!-- <div class="right-side">
      <label> item </label>
      <label> item </label>
      <label> item </label>
    </div> -->
  <div [ngClass]="['right-side', 'mobile', !mobileOpen ? '' : 'collapsible']">
    <label> item </label>
    <label> item </label>
    <label> item </label>
    <label> item </label>
    <label> item </label>
    <label> item </label>
  </div>
</div>
