@import url('../../common/common.scss');
.detail-container {
  //   height: 200px;
  display: flex;
  padding: 2%;
  background: #3a3d3e;
  width: 100%;
  gap: 20px;
  .detail {
    width: 100%;
    padding: 2%;
    text-align: center;
    white-space: pre-wrap;
    .title {
      font-size: 50px;
      color: #ffffff;
      font-weight: bolder;
    }
    .about {
      padding: 1%;
      font-size: 30px;
      color: #ffffff;
      font-weight: lighter;
      text-align: justify;
    }
  }
  .img {
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../assets/sushi_chef.jpg");
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 800px) {
  .detail-container {
    //   height: 200px;
    display: flex;
    padding: 2%;
    //   background: #3534347e;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    .detail {
      .title {
        font-size: 25px;
      }
      .about {
        padding: 1%;
        font-size: 15px;
      }
    }
    .img {
      width: 100%;
      height: 300px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

@media only screen and (min-width: 601px) {
  .menu-mobile {
    display: none;
  }
}
