<div class="detail-container" id="about">
  <div class="detail">
    <div class="title">About us</div>
    <div class="about">
      C'est chez SushiBae que les sushis sont préparés avec finesse et diligence. Chaque rouleau contient des
      ingrédients uniques qui se combinent en harmonie. Les noms originaux de chaque article reflètent son contenu et
      ils ont été soigneusement créés par les chefs expérimentés de SushiBae. Que ce soit pour manger sainement ou pour
      un événement spécial, vous serez satisfait de votre expérience !
    </div>
  </div>
  <div class="img"></div>
</div>
