<div class="detail-container" id="about">
  <div class="detail">
    <div class="title">About us</div>
    <div class="about">
      <em>
        Le restaurant Sushibae est situé sur l'artère commercial du quartier Verdun. Un endroit en bordure du
        Saint-Laurent qui dégage tout un charme à travers sa communauté et aux endroits du secteur.
        SushiBae offre une cuisine japonaise fraîche dont une vaste variété de Sushis autant tradionnelle que contemporain
        sont disponible à travers le menu. Les aliments sont choisit et préparés minutieusement avec délicatesse par
        l'équipe des Chefs au quotidien pour vous assurer la fraîcheur des aliments. Vous découvrirez de différents
        mélanges de saveurs qui palpiteront vos sensations gustatives à travers chaque article. Votre expérience chez nous
        ne sera surement pas la dernière.
        Nous vous souhaitons déjà à la prochaine.
      </em>

    </div>
  </div>
  <div class="img"></div>
</div>