@import url('../../common/common.scss');
.plate-container{
  padding: 10px;
  border: 2px solid #DE9B72;
  border-radius: 10px;
  background-color: #3a3d3e;
  .plate{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: inherit;
      width: inherit;
    }
  }

  .detail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    label{
      color: #DE9B72;
    }


  }
}