
<div class="body dark-background">
  <div class="outer-border">
     <div class="mid-border">
        <div class="inner-border">

           <!-- Page Content -->
           <div class="container">
              <div class="row">
                <div class="desk">
                  <label class="title"> Menu </label>
                  <div class="section">
                    <ng-container *ngFor="let dish of menu">
                      <app-plate-card [sushiplate]="dish"></app-plate-card>
                    </ng-container>
                  </div>

                  <div class="section"></div>
                  <a class="menu-btn" href="#menu"><label> Menu </label></a>
                </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>