
@import url('../../common/common.scss');
@import url('./container.scss');
.desk {
  width: 100%;
  background-size: 100% 100%;
  padding: 5%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #3a3d3e;
  gap: 10px;

  .title {
    text-align: center;
    // font-family: "Pacifico", cursive, Arial, sans-serif !important;
    color: #DE9B72 !important;
    font-weight: 700;
    font-size: 50px;
  }
  .section {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    &.feature {
      background-color: #00000063;
    }
  }
  .menu-btn {
    padding: 2%;
    border: 2px solid #DE9B72;
    font-family: Arial, Helvetica, sans-serif, Arial, sans-serif !important;
    color: #DE9B72;
    border-radius: 10px;
    padding: 1%;
    width: 20%;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}


@media only screen and (max-width: 601px) {
  .desk{
    .title {
      font-size: 20px;
    }
    .section{
      max-height: 400px;
      overflow-y: scroll;
    }
    .menu-btn {
      width: 40%;

    }
  }
}
