<div class="desk">
  <label class="title"> Menu </label>
  <div class="section offer">
    <app-plate-card></app-plate-card>
    <app-plate-card></app-plate-card> <app-plate-card></app-plate-card>
  </div>
  <div class="section">
    <app-plate-card></app-plate-card>
    <app-plate-card></app-plate-card> <app-plate-card></app-plate-card>
  </div>
  <div class="section">
    <app-plate-card></app-plate-card>
    <app-plate-card></app-plate-card> <app-plate-card></app-plate-card>
  </div>
  <div class="section"></div>
  <div class="menu-btn"><label> Menu </label></div>
</div>
