<div class="menu-container">
  <div class="group-section">
    <div class="category">
      <label>Feature menu</label>
    </div>
    <div class="category">
      <label>Detail menu</label>
    </div>
  </div>
  <div class="dish-section">
    <!-- <app-plate-card></app-plate-card>
    <app-plate-card></app-plate-card>
    <app-plate-card></app-plate-card>
    <app-plate-card></app-plate-card>
    <app-plate-card></app-plate-card>
    <app-plate-card></app-plate-card>
    <app-plate-card></app-plate-card>
    <app-plate-card></app-plate-card>
    <app-plate-card></app-plate-card> -->
    <div class="detail-menu">
        <img src="../../../assets/menu/suhsi-bae_menu-sept2021-1_page-0001.jpg"/>
        <img src="../../../assets/menu/suhsi-bae_menu-sept2021-1_page-0002.jpg"/>
    </div>
  </div>
</div>
