<div class="menu-container" id="menu">
  <div class="group-section">
    <div
      [ngClass]="{ category: true, active: currentMenu === menuList.PROMO }"
      (click)="setMenu(menuList.PROMO)"
    >
      <label>Promotion menu</label>
    </div>
    <div
      [ngClass]="{ category: true, active: currentMenu === menuList.FEATURE }"
      (click)="setMenu(menuList.FEATURE)"
    >
      <label>Feature menu</label>
    </div>

    <div
      [ngClass]="{ category: true, active: currentMenu === menuList.COMBO }"
      (click)="setMenu(menuList.COMBO)"
    >
      <label>Combo menu</label>
    </div>
  </div>
  <div class="dish-section">
    <ng-container>
      <!-- experiment -->
      <!-- <carousel
        [autoplay]="true"
        [autoplayInterval]="2000"
        [loop]="true"
        [transitionDuration]="300"
        [transitionTimingFunction]="'ease-out'"
        [height]="300"
        [cellWidth]="230"
        [margin]="0"
        *ngIf="menu.length > 3"
      >
        <div class="carousel-cell" *ngFor="let dish of menu">
          <app-plate-card [sushiplate]="dish"></app-plate-card>
        </div>
      </carousel> -->
      <ng-container>
        <app-plate-card
          [sushiplate]="dish"
          *ngFor="let dish of menu"
        ></app-plate-card>
      </ng-container>
    </ng-container>
  </div>
  <div class="group-section">
    <div class="category title">
      <label>Menus de fonctionnalités</label>
    </div>
  </div>
  <div class="dish-section">
    <div class="detail-menu">
      <img src="../../../assets/menu/suhsi-bae_menu-SEPT-2023-francais-2.png" />
      <img src="../../../assets/menu/suhsi-bae_menu-SEPT-2023-francais-1.png" />
    </div>
  </div>
</div>
