.dish-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #3a3d3e;
  .title{
    color: #de9b72;
    font-size: 24px;
    font-weight: bold;
  }
  .collapse {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100px;
    flex-direction: column;
    .arrow-up {
      filter: invert(1);
      box-sizing: border-box;
      position: relative;
      display: block;
      transform: scale(var(--ggs, 1));
      width: 22px;
      height: 22px;
    }
    .arrow-down {
      filter: invert(1);
      box-sizing: border-box;
      position: relative;
      display: block;
      transform: scale(var(--ggs, 1));
      width: 22px;
      height: 22px;
    }

    .arrow-down::after,
    .arrow-down::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 8px;
      height: 8px;
      border-bottom: 2px solid;
      border-right: 2px solid;
      transform: rotate(45deg);
      left: 7px;
      top: 3px;
    }

    .arrow-down::after {
      top: 8px;
    }
    .arrow-up::after,
    .arrow-up::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 8px;
      height: 8px;
      border-top: 2px solid;
      border-left: 2px solid;
      transform: rotate(45deg);
      left: 7px;
      bottom: 3px;
    }

    .arrow-up::after {
      bottom: 8px;
    }
    label {
      font-size: 20px;
      color: #de9b72;
      font-weight: bold;
    }
  }

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    max-height: 400px;
    justify-content: center;
    overflow: hidden;
    background: #3a3d3e;
    transition: max-height 2s ease-out;

    &.expand {
      max-height: 9000px;
    }
    img {
      height: auto;
      max-width: 40%;
      padding: 2px;
    }
  }
}
.blink {
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -moz-animation:blink normal 1.5s infinite ease-in-out;
  /* Firefox */
  -webkit-animation:blink normal 1.5s infinite ease-in-out;
  /* Webkit */
  -ms-animation:blink normal 1.5s infinite ease-in-out;
  /* IE */
  animation:blink normal 1.5s infinite ease-in-out;
}
@keyframes blink {
  0% {
    color: rgba(255, 0, 0, 1);
  }
  50% {
    color: rgba(255, 0, 0, 0.5);
  }
  100% {
    color: rgba(255, 0, 0, 1);
  }
}
@-webkit-keyframes blink {
  0% {
    color: rgba(255, 0, 0, 1);
  }
  50% {
    color: rgba(255, 0, 0, 0.5);
  }
  100% {
    color: rgba(255, 0, 0, 1);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .dish-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      height: auto;
      max-width: 334px;
      padding: 2px;
    }
  }
}
