<div class="dish-section" id='photos'>
  <label class="title">Photos</label>
  <div [ngClass]="{ 'image-gallery': true, expand: expand }">
    <img class="ani" [src]="item.path" *ngFor="let item of menu" />
  </div>
  <div class="collapse blink" (click)="toggle()">
    <div [ngClass]="[expand ? 'arrow-up' : 'arrow-down']"></div>
    <label> {{ expand ? "Effondrer" : "Étendre" }}</label>
  </div>
</div>
<!-- <section class="animated-grid">
    <div class="card">a</div>
    <div class="card">b</div>
    <div class="card">c</div>
    <div class="card">d</div>
    <div class="card">e</div>
    <div class="card">f</div>
    <div class="card">g</div>
    <div class="card">h</div>
    <div class="card">i</div>
    <div class="card">j</div>
    <div class="card">k</div>
    <div class="card">l</div>
    <div class="card">main</div>
  </section> -->
